@font-face { font-family: helveticaneue; src: url('HelveticaNeue.dfont'); } 
body {
	font-family: helvetica neue  ;
	font-size: 0;
	margin:0;
	padding:0;
}

.wrapper {
	width: 100%;
	b/*ackground: grey;*/
	margin: 0 auto;
}

.info {
	width: 25%;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	color: white;
	position: fixed;
	right: 0;
	top:0;
	bottom: 0;
	background-color: black;
	width: 20%;
	display: none;
	padding-top: 100px;
	padding-left: 15px;
	padding-right: 30px;

}

.info h1 {
	font-size: 40px;
	font-style: italic;
	margin: 0;
}

.info h3 {
	font-size: 30px;
	font-style: normal;
	font-weight: lighter;
	margin-top: 0; 
}

.info p {
	font-size: 12pt;
	font-weight: lighter;
}

.barcode-wrapper {
	z-index: 2
}

.barcode-wrapper:hover .info {
	display: block;
}


.navbar {
	width: 100%;
	background-color: black;
	margin:0;
	padding:0;
	position: fixed;
	z-index: 1
}

.header h2 {
	font-size: 18pt;
	font-weight: lighter;
	color: white;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 15px;
}
.food_groups ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.food_groups li {
	display: inline-block;
	width: 100px;
	text-align: center;
	padding-bottom: 20px;
}

.food_groups p {
	font-size: 9pt;
	font-weight: lighter;
	color: white;
	text-align: center;
	margin: 0;
	display: inline-block;
}

.food_groups p:hover {
text-decoration: underline;
}

.barcodes img {
	 vertical-align: bottom;
	 padding-bottom: 20px;
}
 
.brighten img:hover {
  -webkit-filter: brightness(50%);
}

.overlay .rice img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.rice img:click .overlay {
  opacity: .5;
}








