*@font-face { font-family: helveticaneue; src: url('HelveticaNeue.dfont'); }

body {
	font-family: helveticaneue;
	font-size: 0;
	margin: 0;
	padding:0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}


.navbar {
	width: 100%;
	background-color: white: opacity: 1;
	margin:0;
	padding:0;
	position: fixed;
}

.header h2 {
	font-family: helvetica;
	font-size: 18pt;
/*	font-weight: lighter;*/
	color: black;
	text-align: center;
	margin: 0;
	padding-top: 30px;
	padding-bottom: 0px;
}
/*.classes ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.classes li {
	display: inline-block;
	width: 60px;
	text-align: center;
	padding-bottom: 0px;
}

.classes a {
	font-size: 12pt;
	font-weight: lighter;
	color: black;
	text-align: center;
	margin: 0;
	display: inline-block;
	text-decoration: none;
}

.classes a:hover {
text-decoration: underline;
}*/

.gif {
	padding-top: 70px;
}

.rectangle {
	width: 100%;
	height: 180px;
	display: block;
}

.name {
	font-family: helvetica;
	font-style: italic;
	font-size: 80pt;
	color: white;
	text-decoration: underline;
	padding-top: 20px;
}

.one {
	margin-bottom: 20px;
	background-color: black;
}

.two {
	margin-bottom: 20px;
	background-color: black;
}

.three {
	margin-bottom: 20px;
	background-color: black;
}

.one:hover {
	/*background-image: url("../img/type.jpg");
	background-size: cover;*/
	background-color: white;
}

.two:hover {
/*	background-image: url("../img/pigs.jpg");
	background-size: cover;*/
	background-color: white;
}

.three:hover {
	/*background-image: url("../img/toc.jpg");
	background-size: cover;*/
	background-color: white;
}

.name:hover {
	font-family: helvetica;
	font-style: italic;
	font-size: 80pt;
	color: black;
	text-decoration: underline;
	padding-top: 20px;
}


