
@font-face { font-family: helvetica; }

body {
	font-family: helvetica;
	margin: 0;
	padding:0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}


.navbar {
	width: 100%;
	background-color: white;
	margin:0;
	padding:0;
	position: fixed;
}

.header h2 {
	font-family: helvetica;
	font-size: 18pt;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}
}

.projects{
/*	margin: 0;*/
	font-family: helvetica;
}

.projects ul {
	list-style-type: none;
	font-size: 70pt;
	padding: 20pt 90pt 20pt 0;
	padding-top: 90px;
	display: inline-block;
}

.under{
	text-decoration: underline;
}

.over{
	text-decoration: overline;
}

.projects li {
	font-family: helvetica;
	display: inline-block;
	padding-bottom: 30px;
}

.projects a:hover {
	color: white;
}






