/** { vertical-align: top; }
body {
	font-family: helvetica;
	font-size: 0;
	margin:0;
	padding:0;
}

.wrapper {
	width: 960px;
	background: #f1f1f1;
	margin: 0 auto;
}

h1, h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

a: {
	color: #000000;
	text-decoration: none;
	border: 1px solid black;
	background-color: #ccc;
}

.info {
	font-size: 20px;
}

a:visited { color: #00f; }

a:hover { color: #ffff00; }

a:active { color: #fff; }


.c {
	background: #ff0;
	font-size: 16px;
	line-height: 20px;
	margin: 0 15px 30px 15px;
	display: inline-block;
}

.parent {
	font-size: 0px;
	line-height: 0px;
}

.no-gutters { margin: 0; }
.no-left-gutters { margin-left: 0; }
.no-right-gutters { margin-right: 0; }

.c1 { width: 130px; }
.c2 { width: 290px; }
.c3 { width: 450px; }
.c4 { width: 610px; }
.c5 { width: 770px; }
.c6 { width: 930px; }

img {
	width: 100%;
	height: auto;
}




@font-face { font-family: helveticaneue; src: url('HelveticaNeue.dfont'); } 
body {
	font-family: helvetica neue  ;
	font-size: 0;
	margin:0;
	padding:0;
}

.wrapper {
	width: 100%;
	b/*ackground: grey;*/


@font-face { font-family: helveticaneue; src: url('HelveticaNeue.dfont'); }

body {
	font-family: helveticaneue;
	font-size: 0;
	margin: 0;
	padding:0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}


.navbar {
	width: 100%;
	background-color: white;
	margin:0;
	padding:0;
}

.header h2 {
	font-size: 18pt;
	font-weight: lighter;
	color: black;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 15px;
}
.classes ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.classes li {
	display: inline-block;
	width: 60px;
	text-align: center;
	padding-bottom: 20px;
}

.classes p {
	font-size: 9pt;
	font-weight: lighter;
	color: black;
	text-align: center;
	margin: 0;
	display: inline-block;
}

.classes p:hover {
text-decoration: underline;
}


